<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=StyleSheet href="./Articulo.css" type="text/css">
</head>
<body>
    <article class ='articulo'>
        <img src="https://as01.epimg.net/futbol/imagenes/2020/06/21/reportajes/1592764007_104584_1592765734_noticia_normal.jpg" class='articulo__imagen'/>
        <section class='articulo__contenido'>
        <div class='fuente'>As.com</div>
        <div class='titulo'>El bidón de Branco, ¿verdad o leyenda?</div>
        <div class='descripcion'>24 de junio de 1990. Stadio delle Alpi, Turín, Italia. En el Brasil-Argentina de octavos de final del Mundial, Branco empieza a sentirse mal, mareado y confundido. Se buscan culpables.</div>
        </section>
        <section class='articulo__footer'>
            <div class='mitad'>2020-06-24T06:17:31Z</div>
            <div class="mitad no-border">Ver mas</div>
        </section>
    </article>
    <script src='./Articulo.js'></script>
</body>
</html>